<section id="location">
	<header class="header">
	<a class="action align-left back-link" data-transition="back">back</a>
	<h1><%= title %></h1>
	<a href="#/" class="action align-right menu-link" data-transition="slide-from-top">Menu</a>
	</header>
	<div class="main">
		<div class="inner">
			<ul class="details">
				<li class="description"><%= description %></li>
				<li class="cost"><%= cost %></li>
				<li class="hours"><%= hours %></li>
				<li class="phone"><%= phone %></li>
				<li class="website"><%= website %></li>
				<li class="address"><%= address %></li>
			</ul>
			<a class="map-it" href="#/<%=sectionID %>/<%=categoryID %>/<%=id %>/map" data-transition="slide-from-bottom">
				Map It!
			</a>			
		</div>

	</div>
</section>
